
<div class="tcontainer">
	{{#if list}}
	<table class="ui two column table basic">
		<thead>
			<tr>
				<th>No</th>
				{{#if ltype}}
				<th >Issue Type</th>
				{{else}}
				<th >{Wiki Name</th>
				{{/if}}
		  	</tr>
	  	<thead>
	  	<tbody>
			{{#each entries ~}}
			<tr>
				<td>{{~@index}}</td>
				{{#if ../ltype}}
				<td><a href="/_html/issues/type/{{this}}">{{this}}</a></td>
				{{else}}
				<td><a href="/_html/{{this}}/issues/">{{this}}</a></td>
				{{/if}}
			</tr>
			{{~/each}}
		<tbody>
	</table>
	{{else}}
	<table class="ui five column table basic">
		<thead>
			<tr>
				<th>No</th>
				<th >Type</th>
				<th>Page</th>
				<th>Wiki</th>
				<th>Action</th>
			</tr>
			<thead>
			<tbody>
			{{#each entries ~}}
			<tr>
				<td>{{~no}}</td>
				{{#if bywiki}}
				<td><a href="/_html/issues/type/{{type}}">{{~type}}</a></td>
				{{else}}
				<td><a href="/_html/{{wiki}}/issues/type/{{type}}">{{~type}}</a></td>
				{{/if}}
				<td><a href="/_html/{{wiki}}/issues/{{page}}/{{revision}}">{{~page}}</a></td>
				<td><a href="/_html/{{wiki}}/issues/">{{~wiki}}</a></td>
				<td class="active">
					<i class="attention icon">
						<a href="/_html/issues/{{_id}}">Fix This</a> | &nbsp
						<a href="/_html/{{wiki}}/allissues/{{page}}/{{revision}}">Fix All</a>
					</i>
				</td>
			</tr>
			{{#if @last}}
			</tbody>
			</table>
			{{#if links.href}}
			<div> <a href="/_html{{links.href}}">More</a></div>
			{{/if}}
			{{/if}}
			{{~/each}}
	{{/if}}
</div>
