<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Lint Bridge</title>
    <link href="/static/elements/segment.css" rel="stylesheet">
    <link href="/static/elements/label.css" rel="stylesheet">
    <link href="/static/elements/divider.css" rel="stylesheet">
    <link href="/static/collections/grid.css" rel="stylesheet">
    <link href="/static/collections/menu.css" rel="stylesheet">
    <link href="/static/dropdown.css" rel="stylesheet">
    <link href="/static/custom.css" rel="stylesheet">
</head>
 
<body>

<div id="header">
	<div class="ui large inverted menu">
	  	<a href="/_html/issues" class="active item">
	    	<i class="home icon"></i> Lint Bridge
	  	</a>
	 	<div class="ui inverted simple dropdown item">
			Filter <i class="dropdown icon"></i>
			<div class="menu">
			  <div class="item">By Wiki Name</div>
			  <div class="item">By Type</div>
			  <div class="item"> Other </div>
			</div>
	    </div>
	</div>
</div>

<div id="seg">
<h1>By ID!</h1>
	<div class="ui blue raised segment">
	  <div class="ui two column grid">
		<div class="column">
			<div class="ui ribbon label"> Type </div>
			<p><a href="/_html/issues/type/{{entries.type}}">{{entries.type}}</a></p>
			<div class="ui ribbon label"> Page </div>
			<p><a href="/_html/{{entries.wiki}}/issues/{{entries.page}}">{{entries.page}}</a></p>
			<div class="ui ribbon label"> wiki </div>
			<p><a href="/_html/{{entries.wiki}}/issues/">{{entries.wiki}}</a></p>
		</div>
		
		<div class="ui vertical divider">
	    </div>
	    
	    <div class="center aligned column">
	    	{{entries.src}}
	    </div>
	 </div>
	</div>
</div>
</body>
</html>
