
<div id="seg">

	<div class="ui secondary raised segment">
		<p> 
			<a style="margin-right:50px" class="ui label"> Page </a>
			<a href="/_html/{{entries.0.wiki}}/issues/page/{{entries.0.page}}">{{entries.0.page}}</a>
		</p>
		<p>
			<a style="margin-right:50px" class="ui label"> Wiki </a>
			<a href="/_html/{{entries.0.wiki}}/issues">{{entries.0.wiki}}</a>
		</p>
		<p>
			<a style="margin-right:50px" class="ui blue label"> Edit </a>
			<a href="{{entries.0.wikiurl}}">Click Here</a>
		</p>
	</div>

	{{#each entries}}
	<div class="ui blue raised segment">
	  <div class="ui two column grid">
			<div class="column">
				<div class="ui ribbon label"> ID </div>
				<p><a href="/_html/issues/{{_id}}">{{_id}}</a></p>
				<div class="ui ribbon label"> Type </div>
				<p><a href="/_html/issues/type/{{type}}">{{type}}</a></p>
				<div class="ui ribbon label"> DSR </div>
				<p>{{dsr}}</p>
			</div>
		
			<div class="ui vertical divider"></div>

			<div class="center aligned column">
				<div class="ui top right attached label">
				Wiki Text Snippet
				</div>
				<br><br>
				<div id="src{{@index}}">
					{{#if arr}}
						{{#each src}}
							<li>{{this}}</li>
						{{/each}}
					{{else}}
						{{src}}
					{{/if}}
					<br>
					{{#if strip}}
						<a href="/_html/issues/{{_id}}" class="ui blue label">MORE</a>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
	{{/each}}
</div>
<script type="text/javascript">
		$( ".more" ).click(function() {
				var item = $(this).parent().id;
				var a = "<div>{{entries.["+"2"+"].src}}</div>";
				$(this).parent().replaceWith(a); 
		});
</script>