
<div class="seg">
	<div class="ui blue raised segment">
	  <div class="ui two column grid">
		<div class="column">
			<div class="ui ribbon label"> Type </div>
			<p><a href="/_html/issues/type/{{entries.type}}">{{entries.type}}</a></p>
			<div class="ui ribbon label"> Wiki </div>
			<p><a href="/_html/{{entries.wiki}}/issues/">{{entries.wiki}}</a></p>
			<div class="ui ribbon label"> Page </div>
			<p><a href="{{entries.wikiurl}}&oldid={{entries.0.revision}}">{{entries.page}}</a></p>
			<div class="ui ribbon label"> Revision </div>
			<p><a href="/_html/{{entries.wiki}}/issues/{{entries.page}}">{{entries.revision}}</a></p>
			<div class="ui ribbon label"> Wiki Text Source Offsets </div>
			<p>{{entries.dsr}}</p>
			{{#if entries.inTransclusion}}
				<div class="ui ribbon label"> Issue inside Template </div>
				<p> True </p>
			{{/if}}
			<div class="ui divider"></div>
			<div id="wikiurl">
				<a style="margin-right:50px" class="ui large label"> Fix this </a>
				<a href="{{entries.wikiurl}}&action=edit" target="_"> Click Here</a>
			</div>	
		</div>
		
		<div class="ui vertical divider">
	    </div>
	    
	    <div class="center aligned column">
	    	<div class="ui top right attached label">
	    		Wiki Text Snippet
	    	</div>
	    <br><br>
	    <div>
	    	{{#if arr}}
	    		{{#each entries.src}}
	    			<li>{{this}}</li>
	    		{{/each}}
	    	{{else}}
	    		{{entries.src}}
	    	{{/if}}
	   </div>

	 </div>
	</div>
</div>