
<div id="seg">
	<div class="ui blue raised segment">
	  <div class="ui two column grid">
		<div class="column">
			<div class="ui ribbon label"> Type </div>
			<p><a href="/_html/issues/type/{{entries.type}}">{{entries.type}}</a></p>
			<div class="ui ribbon label"> Page </div>
			<p><a href="/_html/{{entries.wiki}}/issues/{{entries.page}}">{{entries.page}}</a></p>
			<div class="ui ribbon label"> wiki </div>
			<p><a href="/_html/{{entries.wiki}}/issues/">{{entries.wiki}}</a></p>
			<div class="ui ribbon label"> DSR </div>
			<p>{{entries.dsr}}</p>
		</div>
		
		<div class="ui vertical divider">
	    </div>
	    
	    <div class="center aligned column">
	    	<div class="ui top right attached label">
	    		Wiki Text Snippet
	    	</div>
	    <br><br>
	    <div>
	    	{{#if arr}}
	    		{{#each entries.src}}
	    			<li>{{this}}</li>
	    		{{/each}}
	    	{{else}}
	    		{{entries.src}}
	    	{{/if}}
	   </div>

	 </div>
	</div>
</div>