<div class="seg">
	<h1 class="header"> Statistics</h1>
	<hr>
	<br>
	<p> <h3> No of Pages Parsed : 1000</h3> </p>
	<p> <h3> No of Pages with issues : {{stats.pagecnt}}</h3> </p>
	<p> <h3> Total no of issues : {{stats.all}}</h3> </p>
	<p> <h3> Total no of issues of type  Fostered : {{stats.foster}}</h3> </p>
	<p> <h3> Total no of issues of type  StrippedTag : {{stats.strip}}</h3> </p>
	<p> <h3> Total no of issues of type  Missing End Tag : {{stats.mendtag}}</h3> </p>
	<p> <h3> Total no of issues of type  Missing Start Tag : {{stats.mstarttag}}</h3> </p>
	<p> <h3> Total no of pages with Mixed Templates: {{stats.mixtemp}}</h3> </p>
</div>