/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 1068px) {
  .seg {
    max-width: 1030px;
  }
}

#header {
	margin-left: auto;
	margin-right: auto;
	width:1560px;
}

.tcontainer {
	margin-left: auto;
	margin-right: auto;
	width:1460px;
}

#seg {
	margin-left: auto;
	margin-right: auto;
	width:960px;
}

.seg-narrow > hr {
  margin: 30px 0;
}

.f04img {
	margin-bottom: 30px;
}

.f04 {
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
